.dashbox{
    height: 180px;
    background-color:var(--question-box);
    border-radius: 10px;
    box-shadow: 0px 1px 2px #b6b2b2;
    text-align: center;
  }
  
  .e-total{
    background-color:var(--total-exam);
  }
  
  
  .e-attent{
    background-color:var(--exam-attent);
  }
  
  
  
  .presantage-box{
    height: 180px;
    background-color:var(--body-color);
    border-radius: 10px;
    box-shadow: 0px 1px 2px #b6b2b2;
    
  
  }
  
  
  
  .bar-chart{
    background-color: var(--primary-color);
    height: 350px;
    border-radius: 10px;
  
  }
  
  
  
  .line-chart{
    background-color: var(--primary-color);
    height: 350px;
    border-radius: 10px;
  
  }
  