.dashbox{
  height: 191px;
    background-color:var(--question-box);
    border-radius: 10px;
    box-shadow: 0px 1px 2px #b6b2b2;
    text-align: center;
    
  }
  
  .e-total{
    background-color:var(--total-exam);
  }
  
  
  .e-attent{
    background-color:var(--exam-attent);
  }
  
  
  
  .presantage-box{
    background-color:var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 1px 2px #b6b2b2;
    overflow: hidden;
    
  
  }

  
  
  
  
  .bar-chart{
    background-color: var(--primary-color);
    border-radius: 10px;
  
  }
  
  
  
  .line-chart{
    background-color: var(--primary-color);
    border-radius: 10px;
  
  }
  
  .chartmain{
   overflow: hidden;
  }